{block content}
{include _assets.latte}


<!-- Main Banner Section -->
<section class="main-banner">
    <div class="banner-wrapper">
        <div class="content">
            <h1 class="scale-up">Nejsme největší,<br> ale o to víc se<br> snažíme!</h1>
        </div>
        <img src="{$baseUrl}/assets/images/banner.png">
        <!--         <div class="banner-images">
            <img src="laptop.png" alt="Laptop" class="device">
            <img src="credit-card.png" alt="Credit Card" class="card">
            <img src="money.png" alt="Money" class="money">
        </div> -->
        <div class="flex-wrapper banner-bottom">
            <p>Věříme v individuální přístup, pečlivost a nadšení, které promítáme do každé naší služby, abychom vám
                poskytli ten nejlepší zážitek.</p>
            <img style="cursor: pointer;" src="{$baseUrl}/assets/icons/arrow-digital-bottom.svg">
        </div>
    </div>
</section>

<!-- Key Stats Section -->
<section id="info" class="key-stats">
    <div class="page-wrapper">
        <div class="flex-wrapper key-flex">
            <h1>NAŠE ŘEŠENÍ ŠETŘÍ VÁŠ <br> DRAHOCENNÝ ČAS.</h1>
            <p>Naše řešení vám šetří drahocenný čas, zvyšují vaši efektivitu a přinášejí spolehlivost, kterou skutečně
                potřebujete. Díky naší technologii můžete snadno zvládat složité úkoly rychleji a bez námahy, což vám
                umožňuje soustředit se na to, co je pro vás opravdu důležité.</p>
        </div>
        <div class="stats-row">
            <div class="stat">
                <div class="content">
                    <div class="splitter"></div>
                    <li>klienti kteří nám důvěřují</li>
                </div>
                <h3>50+</h3>
                <p>Více než 50+ firem se rozhodlo přehledně řešit své finance</p>
            </div>
            <div class="stat">
                <div class="content">
                    <div class="splitter"></div>
                    <li>Uživatelé</li>
                </div>
                <h3>1154+</h3>
                <p>Naše software FISS 3000 je již využíván více než 1000 spokojenými klienty, kteří oceňují jeho výkon a
                    spolehlivost.</p>
            </div>
            <div class="stat">
                <div class="content">
                    <div class="splitter"></div>
                    <li>Zkušenosti</li>
                </div>
                <h3>1990</h3>
                <p>Od roku 1990 pomáháme ,protože to má smysl!</p>
            </div>
        </div>
    </div>
</section>

<!-- Software Info Section -->
<section class="info-section">
    <div class="button-wrapper">
        <div id="b1" class="circle active"></div>
        <div id="b2" class="circle"></div>
    </div>
    <div class="carousel">
        <div class="software-info">
            <div class="image">
                <img src="{$baseUrl}/assets/images/software-info.png" alt="FIS 3000 Software">
            </div>
            <div class="text-content">
                <h1>FIS 3000 - Více než <br> jen software</h1>
                <p>Protože potřebujete více než jen čísla. Náš systém FISS 3000 vám nabízí přesná data. Díky pokročilým
                    funkcím a uživatelsky přívětivému rozhraní vám umožníme dosáhnout lepších výsledků, rychleji se
                    rozhodovat a zůstat vždy o krok napřed.</p>
                <div class="btn-group">
                    <a href="{plink Contact:default}">
                        <button class="cta-button">Mám zájem</button>
                    </a>
                    <a href="{plink Software:default}">
                        <button class="cta-button">Zjistit více</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="software-info" id="skoleni">
            <div class="image">
                <img src="{$baseUrl}/assets/images/skoleni.png" alt="FIS 3000 Software">
            </div>
            <div class="text-content">
                <h1>Školení - Naučte se <br> ovládat FISS3000</h1>
                <p>Protože potřebujete více než jen čísla. Náš systém FISS 3000 vám nabízí přesná data. Díky pokročilým
                    funkcím
                    a uživatelsky přívětivému rozhraní vám umožníme dosáhnout lepších výsledků, rychleji se rozhodovat a
                    zůstat
                    vždy o krok napřed.</p>
                <div class="btn-group">
                    <a href="{plink Contact:default}">
                        <button class="cta-button">Mám zájem</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Features Section -->
<section class="features">
    <div class="page-wrapper">
        <h1>PROČ JSME PRO VÁS <br> SPRÁVNÁ VOLBA?</h1>
        <div class="features-list">
            <div class="feature">
                <div class="content">
                    <div class="flex-wrapper">
                        <div class="number-wrapper">
                            01/
                        </div>
                        <div class="text-wrapper">
                            <h3>Bezplatná poradenská služba</h3>
                            <p>Naši odborníci jsou připraveni poskytnout vám podporu, ať už jde o výběr správných
                                funkcí,
                                optimalizaci procesů, nebo zodpovězení jakýchkoli dotazů. Jsme tu, abychom vám pomohli
                                uspět
                                bez
                                dalších nákladů.</p>
                        </div>
                    </div>
                </div>
                <div class="svg-wrapper">
                    <img src="{$baseUrl}/assets/icons/arrow-digital-right.svg">
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <div class="flex-wrapper">
                        <div class="number-wrapper">
                            02/
                        </div>
                        <div class="text-wrapper">
                            <h3>Nejste nám lhostejní</h3>
                            <p>Každoroční školení k našemu softwaru FISS 3000 zdarma. Chceme, abyste z našeho řešení
                                vytěžili maximum, a proto vám pravidelně poskytujeme příležitost osvěžit si své
                                znalosti, naučit se nové funkce a optimalizovat využití našeho systému.</p>
                        </div>
                    </div>
                </div>
                <div class="svg-wrapper">
                    <img src="{$baseUrl}/assets/icons/arrow-digital-right.svg">
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <div class="flex-wrapper">
                        <div class="number-wrapper">
                            03/
                        </div>
                        <div class="text-wrapper">
                            <h3>S námi nezůstanete pozadu</h3>
                            <p>Díky pravidelným aktualizacím zajišťujeme, že váš náš software vždy odpovídá nejnovějším
                                standardům a legislativním změnám. Naše neustálé úsilí o inovace a vylepšení vám umožní
                                udržovat krok s aktuálními trendy a technologiemi, čímž zajistí, že vaše podnikání bude
                                vždy na špičce a připravené čelit novým výzvám.</p>
                        </div>
                    </div>
                </div>
                <div class="svg-wrapper">
                    <img src="{$baseUrl}/assets/icons/arrow-digital-right.svg">
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <div class="flex-wrapper">
                        <div class="number-wrapper">
                            04/
                        </div>
                        <div class="text-wrapper">
                            <h3>Nechte to na nás!</h3>
                            <p>jsme tu, abychom se postarali o vaše účetnictví a poskytli vám odborné poradenství, které
                                potřebujete. Naše firma se specializuje na komplexní služby vedení účetnictví, včetně
                                všech souvisejících aspektů, abychom vám ušetřili čas a zajistili, že vaše účetní
                                záležitosti budou vždy v pořádku.</p>
                        </div>
                    </div>
                </div>
                <div class="svg-wrapper">
                    <img src="{$baseUrl}/assets/icons/arrow-digital-right.svg">
                </div>
            </div>

            <div class="feature">
                <div class="content">
                    <div class="flex-wrapper">
                        <div class="number-wrapper">
                            05/
                        </div>
                        <div class="text-wrapper">
                            <h3>Vaše jistota v účetnictví</h3>
                            <p>Na trhu jsme již 34 let, což je důkazem naší stability, spolehlivosti a hlubokých
                                znalostí v oblasti účetnictví. Během této doby jsme získali cenné zkušenosti, které nám
                                umožňují poskytovat vysoce kvalitní služby a efektivní řešení přizpůsobená potřebám
                                našich klientů.</p>
                        </div>
                    </div>
                </div>
                <div class="svg-wrapper">
                    <img src="{$baseUrl}/assets/icons/arrow-digital-right.svg">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial">
    <div class="background-holder">
        <img src="{$baseUrl}/assets/images/background.png">
    </div>
    <div class="testimonial-card">
        <div class="testimonial-top">
            <img src="{$baseUrl}/assets/images/testimonial.png">
            <div>
                <p class="name">David Černý</p>
                <p class="company">Novatek Solutions s.r.o.</p>
            </div>
        </div>
        <div class="flex-wrapper content-wrapper">
            <div class="quote">"bezkonkurenční podpora a služby, které překonaly naše očekávání!"</div>
            <div class="extra-info">
                Jsem podnikatel s dlouholetými zkušenostmi a spolupráce s touto firmou mi přinesla nesmírné výhody.
            </div>
        </div>
        <img src="{$baseUrl}/assets/images/s-logo.png" class="logo">
    </div>
</section>

<!-- ContactUs Section -->
<section class="contact-us">
    <a href="{plink Contact:default}" style="text-decoration: none; color: var(--white-color);">
        <div>
            <h1>KONTAKTUJTE NÁS / KONTAKTUJTE NÁS / KONTAKTUJTE NÁS</h1>
        </div>
    </a>
</section>