<style>




.badge.logout {
    color: #F95F53;
	border: 1px solid #F95F53;
}

.badge.login {
	color: #ffaf00;
	border: 1px solid #ffaf00;
}



.badge {
	border-radius: 20px;
    margin: -1px;
    padding: 2px 7px;
}


</style>



