<style>
    .SInstagram-wrapper .item {
        gap: 15px;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid var(--black-color);
    }

    .SInstagram-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .SInstagram-wrapper .item img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
    }
</style>