services:
	- App\Core\RouterFactory::createRouter
	- App\Core\ModelCore
	- App\Core\Models\Language
	- App\Core\Models\Config
	- App\Core\Models\Query_database


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
