{block content}
{include _assets.latte}


<div class="big-page-wrapper terms-wrapper">
    <h3>Podmínky ochrany osobních údajů</h3>
    <p class="highlight">Politika ochrany soukromí</p>
    <p class="highlight">Úvod</p>
    <p>Millenium Zlín CZ, a. s. vynakládá veškeré úsilí k tomu, aby bylo při využívání našich služeb vaše soukromí
        chráněno. Ochrana soukromí se vztahuje pouze na zákazníky a uživatele našich on-line služeb. Pokud se v
        Millenium Zlín CZ, a. s. ucházíte o práci, tyto podmínky se vás netýkají.</p>

    <div>
        <p class="highlight">Kdo je odpovědný za vaše osobní údaje</p>
        <p>Firma Millenium Zlín CZ, a. s. je zpracovatelem osobních údajů.</p>
    </div>

    <div>
        <p class="highlight">Kde jsou vaše osobní údaje uchovávány?</p>
        <p>Údaje, které jsme od vás shromáždili, jsou uloženy v rámci Evropského hospodářského prostoru („EHP“).</p>
    </div>

    <div>
        <p class="highlight">Jaký typ osobních údajů shromažďujeme?</p>
        <p>Shromažďujeme osobní údaje, které nám poskytnete, například když si něco objednáte nebo se na nás obrátíte
            telefonicky. Osobní údaje, které nám poskytnete, mohou zahrnovat: jméno, příjmení, kontaktní informace,
            e-mailovou adresu, telefonní číslo, platební údaje.</p>
    </div>
    <div>
        <p class="highlight">Jak vaše osobní údaje využíváme?</p>
        <p>Vaše údaje potřebujeme například k následujícím účelům:</p>
        <ul style="list-style-position: inside; padding-left: 30px;">
            <li>Zpracovat vaše objednávky a vrácené zboží prostřednictvím našich on-line služeb</li>
            <li>Zasílat aktuální informace o stavu vaší objednávky prostřednictvím e-mailu</li>
            <li>Kontaktovat vás v případě problémů s doručením vašeho objednaného zboží</li>
            <li>Odpovědět na vaše dotazy a informovat vás o nových a změněných službách</li>
            <li>Zkontrolovat váš věk z důvodu právních předpisů týkajících se nakupování přes internet</li>
            <li>Zabránit zneužití našich služeb</li>
            <li>K vystavení daňových dokladů</li>
            <li>K vytvoření účetních dokladů a záznamů</li>
        </ul>
    </div>
    <div>
        <p class="highlight">Proč budeme vaše osobní údaje zpracovávat ?</p>
        <ul style="list-style-type: lower-alpha; list-style-position: inside; padding-left: 30px;">
            <li>Vaše osobní údaje budeme v omezeném rozsahu zpracovávat za účelem plnění daňových povinností podle
                zákona č.235/2004 Sb. o dani z přidané hodnoty. Právním důvodem zpracování osobních údajů je tedy plnění
                právních povinností (čl. 6 odst. 1 písm. c ) obecného nařízení ochraně osobních údajů).</li>
            <li>Vaše osobní údaje budeme v omezeném rozsahu zpracovávat za účelem plnění povinností podle zákona
                č.563/1991 Sb., o účetnictví. Právním důvodem zpracování osobních údajů je tedy plnění právních
                povinností (čl. 6 odst. 1 písm. c ) obecného nařízení ochraně osobních údajů ).</li>
        </ul>
    </div>

    <div>
        <p class="highlight">Jak dlouho vaše osobní údaje uschováme?</p>
        <p>Vaše osobní údaje budeme uchovávat pouze, dokud jsou potřebné pro výše uvedené účely nebo po zákonem
            stanovenou dobu viz. níže. Vaše údaje nemůžeme odstranit, pokud nám v tom brání zákonné předpisy o
            uchovávání údajů, například zákon o účetnictví nebo jiné opodstatněné důvody, jako jsou nevyrovnané dluhy.
        </p>
        <p style="margin-top: 20px;">V případě, že si zákazník neobjedná zboží déle než 1 rok, od uplynutí poslední
            objednávky, jeho emailová korespondence bude smazána.</p>
    </div>

    <p><span class="highlight">Daňové doklady,</span> tedy údaje zpracované pro účel uvedený v písmenu a) budeme
        zpracovávat § 35 odst. 2 zákona č. 235/2004 Sb. o dani z přidané hodnoty, podobu 10 let od konce zdaňovacího
        období, ve kterém se plnění uskutečnilo.</p>
    <p><span class="highlight">Účetní doklady a účetní záznamy,</span> tedy údaje zpracované pro účel uvedený pod písm.
        b), budeme zpracovávat podle § 31zákona č.563/1991 Sb., o účetnictví, po dobu 5 kalendářních roku následujících
        po roce, kterého se týkají.</p>

    <p class="highlight">Jaká jsou vaše práva?</p>
    <p><span class="highlight">Přístup k vašim údajům:</span> Máte právo požadovat informace o tom, jaké osobní údaje o
        vás uchováváme (bezplatně jednou za rok).</p>

    <p><span class="highlight">Oprava vašich údajů:</span> Pokud jsou tyto údaje nesprávné, neúplné nebo nerelevantní,
        můžete požádat, abychom tyto
        informace opravili, nebo odstranili.</p>

    <p><span class="highlight">Vymazání vašich údajů:</span> Můžete nás požádat o vymazání vašich údajů. Vaše údaje
        nemůžeme odstranit, pokud nám v tom
        brání zákonné předpisy o uchovávání údajů, například zákon o účetnictví nebo jiné opodstatněné důvody, jako jsou
        nevyrovnané pohledávky.</p>

    <p><span class="highlight">Odvolání vašeho souhlasu:</span> Svůj souhlas s tím, abychom využívali vaše údaje pro
        obchodní účely, můžete kdykoliv
        odvolat. Můžete nás kontaktovat buď zasláním dopisu na adresu Millenium Zlín CZ, a.s., Čepkovská 1792, 76001,
        Zlín, Česká Republika nebo zasláním e-mailu na mille@mille.cz.</p>

    <div>
        <p class="highlight">Kdo má k vašim osobním údajům přístup?</p>
        <p>Vaše údaje nikdy neposkytujeme, neprodáváme ani nevyměňujeme s třetími stranami za účelem obchodu. Údaje,
            které třetím stranám poskytneme, jsou – li využívány výhradně k poskytování služeb uvedených výše, například
            doručovatelům za účelem doručení zboží. Poskytujeme osobní údaje pouze nezbytně nutné ke splnění dodání
            zboží do místa určení.</p>
    </div>

    <div class="flex-wrapper left">
        <div>
            <p class="highlight">Fakturační adresa:</p>
            <p>Millenium Zlín CZ, a. s.</p>
            <p>Čepkovská 1792</p>
            <p>76001, Zlín CZ26215241</p>
        </div>
        <div>
            <p class="highlight">Doručovací adresa:</p>
            <p>Millenium Zlín CZ, a. s.</p>
            <p>Čepkovská 1792</p>
            <p>76001, Zlín</p>
        </div>
    </div>

    <p style="margin-top: 20px;">Dne 6. 11. 2020</p>

    <a href="{plink Products:default}" class="cta-button" style="margin-top: 40px; width: fit-content;">
        < Zpět k nákupu</a>
</div>