{block content}
{include _assets.latte}


<div class="big-page-wrapper terms-wrapper">
    <h3>Obchodní podmínky</h3>
    <p style="font-weight: bold;">Společnosti Millenium Zlín CZ, a. s.</p>
    <p class="bullet">1. ZAMĚŘENÍ INTERNETOVÉHO OBCHODU</p>
    <p>Internetový obchod vinotekamille.cz nabízí prověřená, kvalitní značková vína renomovaných výrobců všem
        milovníkům dobrých
        vín, specializovaným vinotékám a gastronomii. Naleznete zde prověřená kvalitní vína z celé řady hlavních
        vinařských oblastí Evropy, včetně důležitých informací o zemích, regionech, kategorizaci, výrobcích i vínech
        samotných. Millenium Zlín CZ, a.s. je zapsána v obchodním rejstříku, vedeného Městským soudem v Praze, sp. zn. C
        43252. Osobám mladším 18ti let alkohol neprodáváme.</p>

    <p class="bullet">2. FORMA A ÚHRADA OBJEDNÁVEK</p>
    <p style="font-style: italic;">Informační oznámení o elektronické evidenci tržeb</p>
    <p>Podle zákona o evidenci tržeb 112/2016 Sb. je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen
        zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.</p>
    <p>V případě platby platební kartou online a u internetových objednávek s osobním odběrem v prodejnách Millenium
        Zlín CZ,a.s. bude zákazníkovi zaslána či předána účtenka obsahující fiskální identifikační kód (FIK) dle zákona
        o evidenci elektronických tržeb 112/2016 Sb.</p>
    <p>V případě ostatních nabízených způsobů platby u internetových objednávek (hotově při převzetí, platební kartou
        při převzetí, společnosti PPL, bankovním převodem) společnost Millenium Zlín CZ,a.s nebude vystavovat
        zákazníkovi účtenku obsahující fiskální identifikační kód (FIK) v souladu se zákonem o evidenci elektronických
        tržeb 112/2016 Sb.</p>
    <p>Vína lze objednat bez minimální hodnoty nákupu, již od 1 láhve. Objednávky doporučujeme avizovat písemnou či
        elektronickou formou na kontaktní místo společnosti: mille@mille.cz Termín příjmu objednávek: od 8:00 do 15:30
        hod. Na základě elektronické objednávky přijde zpět e-mailem automatické potvrzení Vaší objednávky a je
        vystavena faktura, kterou obdrží zákazník při převzetí dodávky (v případě platby bankovním převodem je postup
        odlišný, viz. níže). Náklady na použití komunikačních prostředků na dálku jsou hrazeny kupujícím.</p>
    <p>V objednávce máte možnost zvolit si úhradu:</p>
    <div>
        <p>- v hotovosti</p>
        <p>- bankovním převodem</p>
        <p>- platební kartou online</p>
    </div>
    <p>Při zvolení možnosti platby bankovním převodem Vám pošleme fakturovanou částku s číslem našeho účtu po zpracování
        objednávky. Zboží Vám bude dodáno do 3 pracovních dnů po připsání fakturované částky na náš účet. V případě
        vyprodání skladové zásoby Vás kontaktujeme a navrhneme náhradní variantu v dodávce zboží.</p>

    <p style="font-style: italic;">Převzetí daňového dokladu zákazníkem</p>
    <p>Faktura (daňový doklad) vystavená společností Millenium Zlín CZ,a.s za objednané zboží, je zákazníkovi dodána
        společně s dodacím listem a zbožím na uvedenou dodací adresu.</p>

    <p class="bullet">3. PLATNOST AKČNÍ NABÍDKY, DOPRODEJOVÝCH VÍN</p>
    <p>Akční nabídka a nabídka "Degustace týdne" je platná v době uvedené u každého produktu a do vyprodání zásob. U
        kategorie doprodejových vín a destilátů platí nabídka do vyprodání zásob.</p>

    <p class="bullet">4. CENY</p>
    <p>Ceny jednotlivých položek se řídí aktuálním ceníkem, dodavatel si vyhrazuje právo možnosti jejich aktuálních
        změn. Ceny uvedené u produktů na e-shopu jsou s DPH.</p>

    <p class="bullet">5. DISTRIBUCE A TERMÍNY DODÁNÍ: SOUKROMÁ KLIENTELA</p>
    <p>Vína jsou distribuována po předchozím potvrzení objednávky prostřednictvím kurýrní služby (provoz kurýrní služby
        - v pracovních dnech od 8:00 do 17:00).</p>
    <p>Dodací lhůta je 3-5 následujících pracovních dnů. Dodavatel si vyhrazuje právo prodloužit dodací lhůtu ve
        zvláštních případech vzniklých vyšší mocí nebo v případech, kdy nebylo z objektivních příčin možné uskutečnit
        dodávku v předpokládaném čase. Dodavatel si vyhrazuje právo odmítnout objednávku nestandardního či
        spekulativního složení a velikosti.</p>

    <p class="bullet">6. DOPRAVA A DORUČENÍ ZBOŽÍ</p>
    <p>Doprava po Zlíně platí pro území, jehož PSČ je 760 01 Zlín (náš soukromý rozvoz) - při zájmu dokážeme objednané
        zboží dodat, dle domluvy se zákazníkem, ve Zlíně a blízkém okolí.</p>
    <p>Zbytek ČR</p>
    <p>Distribuce zajišťována prostřednictvím PPL, V den závozu vám kurýrní služba pošle SMS zprávu s uvedením časového
        rozmezí 60-180 minut, ve kterém proběhne dodání zboží. V SMS zprávě je tel. kontakt na řidiče, se kterým si
        případně můžete domluvit změny. Pokud není adresát zastižen, je kontaktován následně telefonicky a je dohodnut
        náhradní termín dodání. Lze také dodat zboží na některé z výdejních míst PPL. Je ve vlastním zájmu kupujícího,
        aby uvedl aktivní telefonické spojení a vybral adresu dodání, kde bude v rámci pracovní doby k zastižení. Při
        objednávce vyšší než 3.000 Kč vč. DPH je doprava zdarma po celé ČR, při objednávce nižší než 3.000 Kč je
        účtováno dopravné od 125 Kč.</p>

    <p>Z důvodu zajištění distribuce prostřednictvím kurýrních služeb se Millenium Zlín CZ,a.s distancuje od chování a
        přístupu zaměstnanců kurýrních služeb, které nelze vždy garantovat.</p>

    <p class="bullet">7. OSOBNÍ ODBĚR</p>
    <p>Zboží je možné odebrat: V sídle naší firmy Millenium Zlín CZ,a.s - k vyzvednutí do jednoho pracovního dne</p>
    <p>Vyčkejte na SMS zprávu o tom, že máte zboží připravené k odběru. Pokud vaše objednávka překročí skladovou zásobu
        prodejny, bude zboží připraveno k převzetí do 3 pracovních dnů (i v tomto případě vyčkejte na SMS zprávu).</p>

    <p class="bullet">8. REKLAMACE, VRÁCENÍ ZBOŽÍ</p>
    <p class="bullet">9. MIMOSOUDNÍ ŘEŠENÍ SPOTŘEBITELSKÝCH SPORŮ</p>
    <p>Prodávající, v souladu s ust. § 14 zákona č. 634/1992 Sb. o ochraně spotřebitele, informuje spotřebitele o
        možnosti řešit spory, vyplývající ze smluv uzavřených s prodávajícím, prostřednictvím subjektu mimosoudního
        řešení spotřebitelských sporů, kterým je Česká obchodní inspekce (www.coi.cz), se sídlem Štěpánská 567/15, Praha
        2, PSČ 120 00. Informace pro řešení sporů on-line najdete na: <a
            href="http://ec.europa.eu/consumer/odr.">http://ec.europa.eu/consumer/odr.</a></p>

    <p class="bullet">10. ODSTOUPENÍ OD SMLOUVY</p>
    <div>
        <p>Kupujete-li zboží jako soukromá osoba, máte v souladu s § 1829 NOZ možnost odstoupit od smlouvy do 14 dní od
            převzetí zboží. Odstoupení od smlouvy: V případě odstoupení od kupní smlouvy se kupní smlouva od počátku
            ruší.
            Zboží musí být prodávajícímu vráceno do čtrnácti (14) dnů od odstoupení od smlouvy prodávajícímu.
            Odstoupí-li
            kupující od kupní smlouvy, nese kupující náklady spojené s navrácením zboží prodávajícímu, a to i v tom
            případě,
            kdy zboží nemůže být vráceno pro svou povahu obvyklou poštovní cestou</p>

        <p>Doporučujeme nás kontaktovat prostřednictvím formuláře pro odstoupení od smlouvy (po vyplnění všech políček
            označených jako povinné údaje odeslat, následně vám bude doručen potvrzující e-mail o zaslání žádosti). ). V
            případě, že jste již zboží převzal(a), doporučujeme jej doručit spolu s dokladem o pořízení na vlastní
            náklady
            na výše uvedenou adresu. Zboží doporučujeme zaslat kompletní, nemělo by být poškozené, ve stavu, v jakém
            jste
            jej převzali při dodávce s přiloženým dokladem o koupi. Zboží by nemělo být zasláno na dobírku a
            doporučujeme je
            pojistit.</p>

        <p>Vrácení finančních prostředků spotřebiteli: Uplatní-li spotřebitel právo na odstoupení od smlouvy podle §
            1832
            odst.1, má právo pouze na náhradu skutečně vynaložených nákladů spojených s vrácením zboží. Dodavatel je
            zároveň
            povinen vrátit spotřebiteli zaplacenou finanční částku nejpozději do 14 dnů od odstoupení, může ji však
            zadržet
            do doby, než spotřebitel doručí zboží zpět nebo prokáže, že jej odeslal.</p>

        <p>Jestliže spotřebitel zvolil jiný, než nejlevnější způsob dodání zboží, který podnikatel nabízí, vrátí
            podnikatel
            spotřebiteli náklady na dodání zboží ve výši odpovídající nejlevnějšímu.</p>
        <p>V případě, že věc při převzetí kupujícím není ve shodě s kupní smlouvou, tedy, že je zejména bez vad, má
            kupující
            právo na to, aby prodávající bezplatně a bez zbytečného odkladu věc uvedl do stavu odpovídajícího kupní
            smlouvě,
            a to podle požadavku kupujícího buď výměnou věci, nebo její opravou; není-li takový postup možný, může
            kupující
            požadovat přiměřenou slevu z ceny věci nebo od smlouvy odstoupit. To neplatí, pokud kupující před převzetím
            věci
            o rozporu s kupní smlouvou věděl nebo rozpor s kupní smlouvou sám způsobil.</p>
    </div>


    <p>Při projevení vady v průběhu 6ti měsíců od převzetí věci se má i nadále za to, že vada existovala již při
        převzetí zboží, pokud to neodporuje povaze věci nebo pokud se neprokáže opak. V případě rozporu zboží se
        smlouvou má spotřebitel nárok na tzv. zjednání nápravy a to:</p>


    <div>
        <p>- přiměřeným snížením kupní ceny</p>
        <p>- náhradním dodáním zboží</p>
        <p>- odstoupením od smlouvy</p>
    </div>

    <p class="bullet">11. ADRESA PRO ZASÍLÁNÍ ZBOŽÍ: DOHODY, KONTAKT:</p>
    <p>E-mail: <a href="mailto:mille@mille.cz">mille@mille.cz</a></p>
    <p>Tel.: +420775857004</p>
    <p>Kupní cena nebo její část bude zákazníkovi vyplacena v nejkratším možném termínu, nejpozději však do 30 dnů po
        vrácení zboží.
        Doporučujeme, aby si zákazník zkontroloval dodávku ihned při převzetí zboží.
        Pokud zákazník zjistí poškození zboží po převzetí, neprodleně by měl zboží reklamovat u dodavatele nebo kurýrní
        služby.
        Pokud zákazník odmítne přijmout poškozené zboží, je s ním sepsán reklamační protokol a další vyřízení reklamace
        probíhá ve spolupráci s dodavatelem a kurýrní službou s termínem na vyřízení do 30 dnů.
        Zákazník se může o stavu reklamace informovat na e-mailu: <a href="mailto:mille@mille.cz">mille@mille.cz</a>
        nebo
        nebo +420775857004
        O výsledku je zákazník informován dodavatelem či kurýrní službou telefonicky /elektronickou formou.
        V případě reklamace nás kontaktujte na:+420775857004</p>

    <p class="bullet">12. ZÁRUKA</p>
    <p>Po dodání dodavatel neručí za škody způsobené nevhodným skladováním nebo zacházením se zbožím ze strany
        zákazníka.</p>
    <p>Jsou uznány pouze prokazatelné senzorické závady kvality vín, a to při navrácení většiny obsahu láhve. Zároveň
        není možné reklamovat závady vín po víceletém uskladnění u zákazníka nebo vady způsobené stářím při nákupu již
        lahvově zralých vín )například u starých ročníků Bordeaux vín a vín z Burgundska. Ze strany dodavatele jsou víno
        a destiláty skladovány v optimálních podmínkách, částečně v klimatizovaném prostoru a díky vysoké obrátkovosti
        zboží je zajištěna jeho čerstvost. Záruční lhůta začíná běžet převzetím věci kupujícím.</p>

    <p class="bullet">13. TRVANLIVOST A ROČNÍKY VÍN</p>
    <p>Trvanlivost jednotlivých druhů vín a destilátů je individuální. Optimální dobu spotřeby a případnou dobu
        archivace uvádíme u každého vína zvlášť, u likérů je ideální doba spotřeby uvedena na lahvi.</p>
    <p>Kvalitní víno jako přírodní produkt každým rokem změní ročník, při širokém sortimentu vín může docházet ke změnám
        rychleji, než se stačí aktualizovat internetová nabídka nebo tištěná prezentace v katalogu. Pokud dojde ke změně
        ročníku v době objednávky, je automaticky dodán ročník následující. V případě, že kupující trvá na uvedeném
        ročníku a jiný nechce, musí toto výrazně označit do poznámek pod objednávku.</p>

    <p class="bullet">14. ZMĚNY OBCHODNÍCH PODMÍNEK</p>
    <p>Platební, dopravní, reklamační, úvěrové a termínové podmínky se řídí platnými obchodními podmínkami společnosti
        Millenium Zlín CZ,a.s. si vyhrazuje právo změny cen a ročníků nabízených vín dle aktuální platné nabídky.
        Dodavatel si vyhrazuje právo obchodní podmínky měnit. Změněné podmínky vyhlásí vhodným způsobem na internetových
        stránkách stejně jako ve svých provozovnách nejméně měsíc před účinností nových obchodních podmínek.</p>

    <p class="bullet">15. OCHRANA OSOBNÍCH ÚDAJŮ A JEJICH ZPRACOVÁNÍ</p>
    <p>Zpracování osobních údajů najdete <a href="#">zde</a>.</p>

    <p class="bullet">16. OCHRANA AUTORSKÝCH PRÁV</p>
    <p>Veškeré uveřejněné podklady na internetovém obchodu Millenium Zlín CZ,a.s. (fotografie, textový obsah) jsou
        chráněny autorským zákonem č. 121/2000 Sb. Použití výše uvedených podkladů je možné pouze se souhlasem
        společnosti Millenium Zlín CZ,a.s. kontakt: e-mail:
        <a href="mailto:mille@mille.cz">mille@mille.cz</a>
    </p>

    <a href="{plink Products:default}" class="cta-button" style="margin-top: 40px; width: fit-content;">
        < Zpět k nákupu</a>
</div>