
<style>
  /* Bottom Section */
  .key-bottom {
    padding: 40px var(--margin-sides);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color: var(--white-color);
    flex-wrap: wrap;
    justify-content: center;
  }
</style>