<style>
    /* another styles in ordersummary _assets */

    /* Small summary */
    .small-summary {
        max-width: 400px;
        width: 100%;
        border: 1px solid var(--border-primary-color);
        border-radius: 40px;
        padding: 20px 35px;
        height: fit-content;
    }

    .small-summary .item {
        padding: 15px 0;
    }

</style>