{block content}
{include _assets.latte}


<div class="big-page-wrapper" style="margin-top: 50px; margin-bottom: 220px;">
    <h3 style="margin-bottom: 20px;">Jak nakupovat</h3>
    <ul style="list-style-position: inside; padding-left: 10px;">
        <li>Vyberte si u nás jakékoli vína a vložte je do košíku.</li>
        <li>Při vstupu do košíku Vás náš eshop přesměruje k volbě dodací adresy, způsobu dodání a způsobu platby.</li>
        <li>Poté jen stačí vyčkat na naši odpověď, že jsme objednávku přijali a budeme ji vyřizovat.</li>
        <li>Po předání Vaší objednávky dopravci budete opět kontaktování o stavu Vaší objednávky.</li>
        <li>Poté jen od přepravce zboží převezmete, popřípadě zaplatíte dobírkou.</li>
    </ul>
    <p style="margin-top: 30px;">Věříme, že se Vám u nás bude nakupovat dobře a zavítáte na naše stránky i příště.</p>
    <p style="margin-top: 30px;">Vaše Vinotéka Millenium. </p>
    <a href="{plink Products:default}" class="cta-button" style="margin-top: 40px; width: fit-content;">
        < Zpět k nákupu</a>
</div>