<style>
    .terms-wrapper {
        display: flex;
        gap: 40px;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 220px;
    }

    .highlight {
        font-weight: bold;
        margin-top: 20px;
    }
</style>