{block content}
{include _assets.latte}


<div class="big-page-wrapper terms-wrapper">
    <h3>Podmínky vrácení peněz</h3>
    <p>Odstoupení od smlouvy, vrácení zboží a peněz</p>
    <p class="highlight">1. Kdy můžete od smlouvy odstoupit</p>
    <p>Při nákupu přes internetový obchod máte dle občanského zákoníku jako spotřebitel právo od kupní smlouvy odstoupit
        do 14. kalendářních dnů od převzetí zásilky. Ovšem s dodržením podmínky, že zboží bude vráceno v původním stavu,
        s původními obaly a nesmí jevit známky opotřebení a používání. </p>
    <p>Právo odstoupit od smlouvy však není dáno v případech dle § 1837 občanského zákoníku, tzn. zejména v případě,
        pokud se jedná o dodávku zboží, které bylo upraveno podle přání spotřebitele. </p>
    <p>Byl-li Vám společně se zbožím poskytnut dárek, zašlete ho zpět společně s vraceným zbožím.</p>
    <p>Oznámení o odstoupení od kupní smlouvy doporučujeme zaslat na naši doručovací adresu spolu se zbožím nebo na
        e-mail a neprodleně poté nám zaslat zboží na naši doručovací adresu. </p>
    <p>Pro odstoupení od smlouvy lze využít náš Odstoupení od smlouvy vzorový formulář_1</p>
    <p class="highlight">2. Jakým způsobem nám vrátíte zboží?</p>
    <p>Zboží jste povinni nám vrátit nejpozději do 14. dnů od odstoupení od smlouvy na adresu našeho sídla. </p>
    <p>Zboží nezasílejte na dobírku, nejsme povinni ho takto převzít.</p>
    <p>K vrácenému zboží doporučujeme přiložit:</p>
    <div>
        <p>kopii faktury nebo jiný doklad prokazující koupi zboží</p>
        <p>písemné vyjádření o odstoupení od smlouvy (vzorový formulář)</p>
    </div>
    <p class="highlight">3. Kdy dostanete zpět své peníze</p>
    <p>Veškeré přijaté peněžní prostředky za zakoupené zboží - mimo nákladů na přepravné, Vám vrátíme co nejdříve, ale
        nejpozději do 14. dnů od převzetí Vámi vráceného zboží. Berte však na vědomí, že nejsme povinni vrátit Vám
        peníze dříve, než nám zboží doručíte.</p>
    <p>Peníze Vám vrátíme stejným způsobem, jakým jsme je přijali - tedy na účet.</p>
    <p>Náklady spojené s odesláním vráceného zboží na naši adresu si hradí sám nakupující. </p>
    <p>4. Co když bylo vrácené zboží poškozené</p>
    <p>Pokud zjistíme, že Vámi vrácené zboží je rozbité či nějak poškozené, odpovídáte nám za toto snížením hodnoty
        zboží. O tom by jsme Vás neprodleně po zjištění jakéhokoliv poškození informovali a to písemnou formou na Váš
        e-mail. </p>
    <a href="{plink Products:default}" class="cta-button" style="margin-top: 40px; width: fit-content;">
        < Zpět k nákupu</a>
</div>