{block content}
{include _assets.latte}
<div class="page-wrapper" save-text>

        <section class="landing-wrapper striped-wrapper">
            <div class="padding-wrapper landing-container">

            <div class="carousel-container">
               

                <div class="carousel-track">
                 
                    <div class="carousel-slide active">
                 <img src="{$baseUrl}/assets/images/{="1"|t}" data-key="1"> 
                </div>  

                
                    <div class="carousel-slide">
                        <img src="{$baseUrl}/assets/images/{="2"|t}" data-key="2">
                    </div>
                    
                   
                    <div class="carousel-slide">
                        <img src="{$baseUrl}/assets/images/{="3"|t}" data-key="3">
                    </div>
                </div>
                
                <div class="menu-button-container" data-aos="fade-up" data-aos-duration="800">
                    <a href="{plink Menu:default}" class="menu-button" data-key="7">{="7"|t}</a>
                </div>
                
                <div class="carousel-indicators"></div>
            </div>  


        </div>
        </section>



        <section class="daily-menu-section striped-wrapper">
            <div class="container">
                <div class="menu-header" data-aos="fade-up">
                    <span class="section-tag" data-key="8">{="8"|t}</span>
                    <h2 data-key="9">{="9"|t}</h2>
                    <div class="divider-small"></div>
                    <p class="menu-intro" data-key="10">{="10"|t}</p>
                </div>
                
                <div class="day-menu-container">
                    <!-- Monday Menu -->
                    <div class="day-menu" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="day-heading" data-key="11">{="11"|t}</h3>
                        <div class="daily-menu-grid">
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="12">{="12"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="13">{="13"|t}</p>
                                            <p class="item-desc" data-key="14">{="14"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="15">{="15"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="16">{="16"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="17">{="17"|t}</p>
                                            <p class="item-desc" data-key="18">{="18"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="19">{="19"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="20">{="20"|t}</p>
                                            <p class="item-desc" data-key="21">{="21"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="22">{="22"|t}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="23">{="23"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="24">{="24"|t}</p>
                                            <p class="item-desc" data-key="25">{="25"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="26">{="26"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="27">{="27"|t}</p>
                                            <p class="item-desc" data-key="28">{="28"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="29">{="29"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="30">{="30"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="31">{="31"|t}</p>
                                            <p class="item-desc" data-key="32">{="32"|t}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tuesday Menu -->
                    <div class="day-menu" data-aos="fade-up" data-aos-delay="150">
                        <h3 class="day-heading" data-key="33">{="33"|t}</h3>
                        <div class="daily-menu-grid">
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="34">{="34"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="35">{="35"|t}</p>
                                            <p class="item-desc" data-key="36">{="36"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="37">{="37"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="38">{="38"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="39">{="39"|t}</p>
                                            <p class="item-desc" data-key="40">{="40"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="41">{="41"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="42">{="42"|t}</p>
                                            <p class="item-desc" data-key="43">{="43"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="44">{="44"|t}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="45">{="45"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="46">{="46"|t}</p>
                                            <p class="item-desc" data-key="47">{="47"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="48">{="48"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="49">{="49"|t}</p>
                                            <p class="item-desc" data-key="50">{="50"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="51">{="51"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="52">{="52"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="53">{="53"|t}</p>
                                            <p class="item-desc" data-key="54">{="54"|t}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wednesday Menu -->
                    <div class="day-menu" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="day-heading" data-key="55">{="55"|t}</h3>
                        <div class="daily-menu-grid">
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="56">{="56"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="57">{="57"|t}</p>
                                            <p class="item-desc" data-key="58">{="58"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="59">{="59"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="60">{="60"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="61">{="61"|t}</p>
                                            <p class="item-desc" data-key="62">{="62"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="63">{="63"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="64">{="64"|t}</p>
                                            <p class="item-desc" data-key="65">{="65"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="66">{="66"|t}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="67">{="67"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="68">{="68"|t}</p>
                                            <p class="item-desc" data-key="69">{="69"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="70">{="70"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="71">{="71"|t}</p>
                                            <p class="item-desc" data-key="72">{="72"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="73">{="73"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="74">{="74"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="75">{="75"|t}</p>
                                            <p class="item-desc" data-key="76">{="76"|t}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Thursday Menu -->
                    <div class="day-menu" data-aos="fade-up" data-aos-delay="250">
                        <h3 class="day-heading" data-key="77">{="77"|t}</h3>
                        <div class="daily-menu-grid">
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="78">{="78"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="79">{="79"|t}</p>
                                            <p class="item-desc" data-key="80">{="80"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="81">{="81"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="82">{="82"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="83">{="83"|t}</p>
                                            <p class="item-desc" data-key="84">{="84"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="85">{="85"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="86">{="86"|t}</p>
                                            <p class="item-desc" data-key="87">{="87"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="88">{="88"|t}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="89">{="89"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="90">{="90"|t}</p>
                                            <p class="item-desc" data-key="91">{="91"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="92">{="92"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="93">{="93"|t}</p>
                                            <p class="item-desc" data-key="94">{="94"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="95">{="95"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="96">{="96"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="97">{="97"|t}</p>
                                            <p class="item-desc" data-key="98">{="98"|t}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Friday Menu -->
                    <div class="day-menu" data-aos="fade-up" data-aos-delay="300">
                        <h3 class="day-heading" data-key="99">{="99"|t}</h3>
                        <div class="daily-menu-grid">
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="100">{="100"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="101">{="101"|t}</p>
                                            <p class="item-desc" data-key="102">{="102"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="103">{="103"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="104">{="104"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="105">{="105"|t}</p>
                                            <p class="item-desc" data-key="106">{="106"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="107">{="107"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="108">{="108"|t}</p>
                                            <p class="item-desc" data-key="109">{="109"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="110">{="110"|t}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="daily-menu-col">
                                <div class="menu-category">
                                    <h4 data-key="111">{="111"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="112">{="112"|t}</p>
                                            <p class="item-desc" data-key="113">{="113"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="114">{="114"|t}</p>
                                    </div>
                                    
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="115">{="115"|t}</p>
                                            <p class="item-desc" data-key="116">{="116"|t}</p>
                                        </div>
                                        <p class="item-price" data-key="117">{="117"|t}</p>
                                    </div>
                                </div>
                                
                                <div class="menu-category">
                                    <h4 data-key="118">{="118"|t}</h4>
                                    <div class="menu-item">
                                        <div class="menu-item-content">
                                            <p class="item-name" data-key="119">{="119"|t}</p>
                                            <p class="item-desc" data-key="120">{="120"|t}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-footer" data-aos="fade-up" data-aos-delay="300">
                    <p data-key="121">{="121"|t}</p>
                    <a href="{plink Menu:default}" class="view-full-menu" data-key="122">{="122"|t}</a>
                </div>
            </div>
        </section>
        
        <!-- Salónek Section -->
        <section class="salonek-section striped-wrapper">
            <div class="container">
                <div class="salonek-wrapper">
                    <div class="salonek-content" data-aos="fade-up" data-aos-duration="800">
                        <span class="section-tag" data-key="123">{="123"|t}</span>
                        <h2 data-key="124">{="124"|t}</h2>
                        <div class="divider-small"></div>
                        <p data-key="125">{="125"|t}</p>
                        <p data-key="126">{="126"|t}</p>
                        
                        <div class="salonek-features">
                            <div class="feature-item" data-aos="fade-up" data-aos-delay="100">
                                <div class="feature-icon">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div class="feature-text" data-key="127">{="127"|t}</div>
                            </div>
                            <div class="feature-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="feature-icon">
                                    <i class="fa-solid fa-wifi"></i>
                                </div>
                                <div class="feature-text" data-key="128">{="128"|t}</div>
                            </div>
                            <div class="feature-item" data-aos="fade-up" data-aos-delay="300">
                                <div class="feature-icon">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="feature-text" data-key="129">{="129"|t}</div>
                            </div>
                    </div>

                        <a href="{plink Contact:default}" class="salonek-cta" data-aos="fade-up" data-aos-delay="400" data-key="130">{="130"|t}</a>
                    </div>
                    
                    <div class="salonek-gallery">
                        <div class="image-item large" data-aos="fade-left" data-aos-duration="1000">
                            <img src="{$baseUrl}/assets/images/{="4"|t}" data-key="4">
                            <div class="image-overlay">
                            </div>
            </div>  

                        <div class="right-column">
                            <div class="image-item small" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                                <img src="{$baseUrl}/assets/images/{="5"|t}" data-key="5">
                                <div class="image-overlay">
                                </div>
                            </div>
                            
                            <div class="image-item small" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
                                <img src="{$baseUrl}/assets/images/{="6"|t}" data-key="6">
                                <div class="image-overlay">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>