{block content} {include _assets.latte}

<div class="card-grid">
{*   <a class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/questionMark.svg">
    </div>
    <p>NEJČASTĚJŠÍ DOTAZY</p>
  </a> *}
  <a href="{plink Shopping:producthelp}" class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/colorBucket.svg">
    </div>
    <p>POMOC S VÝBĚREM PRODUKTU</p>
  </a>
  <a href="{plink Shopping:conditions}" class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/note.svg">
    </div>
    <p>OBCHODNÍ PODMÍNKY</p>
  </a>
  <a href="{plink Shopping:shipping}" class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/truck.svg">
    </div>
    <p>DOPRAVA</p>
  </a>
  {* <a class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/package.svg">
    </div>
    <p>REKLAMAČNÍ ŘÁD</p>
  </a>
  <a class="card">
    <div class="icon-wrapper">
    <img src="{$baseUrl}/assets/icons/shopping/private.svg">
    </div>
    <p>OCHRANA SOUKROMÍ</p>
  </a>
  <a class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/wallet.svg">
    </div>
    <p>PLATBA</p>
  </a>
  <a class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/constructionMan.svg">
    </div>
    <p>PROČ NAKUPOVAT U NÁS?</p>
  </a>
  <a class="card">
    <div class="icon-wrapper">
      <img src="{$baseUrl}/assets/icons/shopping/support.svg">
    </div>
    <p>PODPORA</p>
  </a> *}
</div>
